.header{
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    box-shadow: 7px 7px 15px -1px #000000;
}
.navi{
    border: 2px solid black;
    padding: 0;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 7px 7px 15px -1px #000000;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.navi a{
    text-decoration: none;
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border-right: 2px solid black;
    text-align: center;
}
.navi a:last-child{
    border-right: none;
}
.navi a:hover{
    background-color: black;
    color: #fff;
}