*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
html, body{
    margin: 0;
    height: 100%;
}
body{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 10px;
}
#container{
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10px;
}
header{
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    box-shadow: 7px 7px 15px -1px #000000;
}
nav{
    border: 2px solid black;
    padding: 0;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 7px 7px 15px -1px #000000;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
nav a{
    text-decoration: none;
    color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border-right: 2px solid black;
    text-align: center;
}
nav a:last-child{
    border-right: none;
}
nav a:hover{
    background-color: black;
    color: #fff;
}
a[href="#"]{
    background-color: black;
    color: #fff !important;
}
a[target="_blank"]::after{
    content: " (A link új lapon nyílik)";
}
a:visited{
    color: unset;
}
.content-block{
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    box-shadow: 7px 7px 15px -1px black;
    overflow: hidden;
    padding: 10px;
    margin-top: 1.5rem;
}
hr{
    width: 100%;
    margin: 0;
}
h1{
    width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
}
table, th, td{
    border: #000 2px solid;
    padding: 10px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 1.5rem;
}
footer p{
    margin: 0;
}
@media screen and (max-width: 768px){
    .portray{
        width: 50%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
}
@media screen and (max-width: 800px){
    nav{
        height: initial;
        flex-direction: column;
    }
    nav a{
        border: none;
        width: 100%;
    }
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
@media (prefers-contrast: more) {
    *, .text-dark, nav a:hover, .navi a:hover, figcaption{
        color: yellow!important;
    }
    .content-block, nav, header, .navi, .header{
        background-color: #000!important;
    }
    input, textarea{
        color: black!important;
    }
    input[type="submit"], input[type="reset"], button{
        color: white!important;
    }
    a[href="#"]{
        background-color: white;
        color: #000!important;
    }
    table, th, td{
        border-color: white;
    }
    .bg-secondary{
        background-color: #000!important;
    }
}
@media print{
    nav, video, hr, form, .carousel span, .noprint, footer, p a, .carousel-indicators{
        display: none!important;
    }
    body{
        padding: 10px!important;
    }
    *{
        box-shadow: none!important;
        border: none!important;
        margin: 0 auto!important;
        padding: 0!important;
        color: #000!important;
        border-radius: 0!important;
    }
    aside{
        color: #000!important;
    }
    .carousel, figure{
        padding: 10px!important;
        width: 40%!important;
        border-radius: 0%!important;
    }
    #gallery .row{
        width: 100%!important;
    }
    #gallery .row div{
        width: 33%!important;
    }
    #gallery figure{
        width: 60%!important;
    }
    .carousel{
        width: 20%!important;
    }
}